<?xml version="1.0" encoding="UTF-8"?>
<config>
    <cabs>
        <cab>
            <name>Train1</name>
            <address>1</address>
        </cab>
        <cab>
            <name>Train2</name>
            <address>2</address>
        </cab>
    </cabs>
    <server>
        <ip>auto</ip>
        <port>auto</port>
        <serialPort>COM3</serialPort>
        <legacyMode>True</legacyMode>
    </server>
    <debug>
        <enableDebug>True</enableDebug>
    </debug>
</config>